<div class="p-6 bg-blue-950 text-white border-b-2 border-b-white">
  <h2 class="text-2xl py-2 font-bold text-center">{{titulo}}</h2>
  <p class="border border-green-700 bg-green-200 text-green-700 p-2 my-2 rounded-xl">
    <i class="bi bi-info-circle mr-1"></i>{{primerMensaje}}
  </p>
  @let hayEspacio = valueInput().trim().length >= 6;
  <div [class]="'mb-4 flex p-2 gap-2 shadow-[0_0_5px_white] shadow-amber-50 text-black bg-white rounded-xl '+(verificarName ? 'flex-col justify-center items-center max-w-sm mx-auto':'w-full')">

    <div [class]="'flex-1 ' +(verificarName && 'w-full')">
      <label for="celular" class="block text-black font-semibold mb-1">
        <i class="bi bi-phone mr-2"></i>{{name | titlecase}}
      </label>
      <div class="flex gap-4 relative">
        <input [type]="name==='celular'?'tel':'password'" id="celular" [(ngModel)]="valueInput" [name]="name"
          class="w-full border text-black placeholder:text-gray-500 border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
          [placeholder]="name==='celular'?'Ingrese su numero de celular':'Ingrese su password'" minlength="4" required
          noSpaces #nameValue="ngModel">
        @if(!verificarName){
        <button [disabled]="nameValue.invalid || !hayEspacio" (click)="checkInput()" type="button"
          class="py-2 px-4 rounded-lg bg-green-500 text-white  hover:bg-green-600 transition-colors duration-300 text-base ease-in-out disabled:opacity-50 disabled:cursor-not-allowed">Verificar</button>
        }
        @if( matchInputs() ){
          <span class="absolute  rounded-full  top-1 right-1 text-2xl font-bold text-green-600" ><i class="bi bi-check-circle"></i></span>
        }

      </div>
      @if ((nameValue.invalid || !hayEspacio) && (nameValue.dirty || nameValue.touched)) {
      <div class="text-sm font-Roboto font-bold text-red-600">
        @if (nameValue.hasError('required')) {
        <div>
          El {{name}} es requerido
        </div>
        }
        @if (nameValue.hasError('minlength')) {
        <div>
          Debe contener mas caracteres
        </div>
        }
        @if (!hayEspacio) {
        <div class="text-red-600/50">
          No debe contener espacios vacios, min 6 caract
        </div>
        }
      </div>
      }


    </div>

    @let hayEspacioVerif = secondvalueInput().trim().length > 0;
    @if(verificarName){
    <div [class]="'flex-1 ' +(verificarName && 'w-full')">
      <label for="verificar" class="block font-semibold mb-1">
        <i class="bi bi-phone text-blue-600 mr-2"></i>Confirmar {{name | titlecase}}
      </label>
      <p class="text-sm text-gray-400">Repita el {{name}} para confirmar</p>
      <div class="flex gap-4 relative">
        <input [type]="name==='celular'?'tel':'password'" id="verificar" [(ngModel)]="secondvalueInput"
        [name]="verificarName"
        class="w-full border placeholder:text-gray-500 border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
        [placeholder]="name==='celular'?'Ingrese nuevamente su número de celular':'Ingrese su nuevamente password'" minlength="4" required #verificarValue="ngModel">
      @if( matchInputs() ){
          <span class="absolute  rounded-full  top-1 right-1 text-2xl font-bold text-green-600" ><i class="bi bi-check-circle"></i></span>
        }
      </div>


        @if ((verificarValue.invalid || !hayEspacioVerif) && (verificarValue.dirty || verificarValue.touched)){
      <div class="text-sm font-Roboto font-bold text-red-600">
        @if (verificarValue.hasError('required')) {
        <div>
          El confirmar {{name}} es requerido
        </div>
        }
        @if (verificarValue.hasError('minlength')) {
        <div>
          Debe contener mas caracteres
        </div>
        }
        @if (!hayEspacioVerif) {
        <div class="text-red-600/50">
          No debe contener espacios vacios
        </div>
        }
      </div>
      }


    </div>
    }
    @if( matchInputs() ){
      <p class="italic font-medium text-sm text-left w-full">** Ambas contraseñas debe ser iguales!!</p>
    }
    @if(verificarName){
    <div class="flex">
      <button [disabled]="nameValue.invalid || !hayEspacio || !hayEspacioVerif || !matchInputs()" (click)="checkInput()" type="button"
        class="py-3 px-4 rounded-lg bg-green-500 text-white font-bold text-lg hover:bg-green-600 transition-colors duration-300 ease-in-out disabled:opacity-50 disabled:cursor-not-allowed">Registrar</button>
    </div>
    }




  </div>

</div>
